<%- include('header') %>

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare mauris turpis, non volutpat magna aliquet vitae. Vestibulum interdum bibendum posuere.</p>
  <hr>
  <p>Maecenas accumsan, ex sed dictum porta, urna eros placerat lorem, a convallis nunc erat at ipsum.</p>
  <p><a class="btn btn-primary btn-lg" href="/logout">Logout</a></p>
</div>

<%- include('footer') %>